.Extendido{
    display:none;
}

@media (min-width: 1200.98px) {
    body {
        color: white;
        border:15px solid purple;
    }

    .Marco_Principal {
        width: 100%;
        height: 100%;
    }

    .card {
        height: 100%;
        box-shadow: 10px 10px 10px 10px black;
        background-color: #000000 !important;
        width: 65%;
        height: 100%;
        padding: 25px;
    }

    .Titulo {
        width: 100%;
        font-size: 2vw !important;
    }


    .Logo_Perfil {
       /* border:5px solid red;*/
        height: 100%;
    }

    .figure_img {
        position: absolute;
       /* border:5px solid yellow;*/
        width: 88% !important;
        z-index: 5;
        left:6%;
    }

    .segundo_logo {
        position: absolute;
        width: 10%;
        border-radius: 50%;
        height: 150px;
        z-index: 10;
        left: 62%;
        top: 55%;
    }

    .primer_logo {
        width: 35%;
        height: 400px;
        border-radius: 50%;
    }

    #color_1 {
        position: relative;
        background-color: #ff9f0a !important;
        height: 230px !important;
        z-index: 2;
    }

    #color_2 {
        position: relative;
        height: 170px !important;
        z-index: 2;
        margin-bottom:15px;
    }

    .Descripcion_Ubicacion {
        font-size: 1.5vw;
       /* border: 5px solid red;*/
        width: 100%;
        color:#7c7c7e;
    }



    .contact_info p {
        font-size: 1.7vw;
        width: 50%;
    }

    .info {
        font-size: 1.7vw;
    }

    .Descripcion{
        font-size: 1.7vw;
        width: 100%;
        text-align: justify;
        padding:10px !important;
    }

    .Descripcion button{
        background-color:transparent;
        border:none;
        text-decoration: none;
        outline:none;
        color:#0c84f7;
    }

    .icons_contact{
        /*border:5px solid yellow;*/
        display: flex;
        justify-content: center;
        margin-top:2vw;
    }

    .icons_contact section{
        /*border:5px solid red;*/
        margin-left:10%;
        color:#0c84f7;
    }

    .icons_contact i{
        font-size: 4vw;
        
    }

    .icons_contact p{
        font-size: 1.2vw;
    }

    .Principal_Kits{
       /* border:5px solid red;*/
    }

    .Principal_Kits p{
        /*border:5px solid white;*/
        font-size: 2.2vw;
        margin-top: 2.5vw;
    }

    .Principal_Kits i{
        /*border:5px solid yellow;*/
        font-size: 4vw;
        color:#25a7bf;
        margin-left: 2%;
        margin-top: 2vw;
        /*margin-top: 2%;*/
    }

   


    }


@media (max-width: 991.98px) {

    body {
        color: white;
        border:15px solid yellow;
    }

    .Marco_Principal {
        width: 100%;
        height: 100%;
    }

    .card {
        height: 100%;
        box-shadow: 10px 10px 10px 10px black;
        background-color: #000000 !important;
        width: 85%;
        height: 100%;
        padding: 25px;
    }

    .Titulo {
        width: 100%;
        font-size: 3vw !important;
    }


    .Logo_Perfil {
       /* border:5px solid red;*/
        height: 100%;
    }

    .figure_img {
        position: absolute;
       /* border:5px solid yellow;*/
        width: 88% !important;
        z-index: 5;
        left:6%;
    }

    .segundo_logo {
        position: absolute;
        width: 15%;
        border-radius: 50%;
        height: 150px;
        z-index: 10;
        left: 62%;
        top: 55%;
    }

    .primer_logo {
        width: 45%;
        height: 300px;
        border-radius: 50%;
    }

    #color_1 {
        position: relative;
        background-color: #ff9f0a !important;
        height: 190px !important;
        z-index: 2;
    }

    #color_2 {
        position: relative;
        height: 170px !important;
        z-index: 2;
        margin-bottom:15px;
    }

    .Descripcion_Ubicacion {
        font-size: 2.5vw;
       /* border: 5px solid red;*/
        width: 100%;
        color:#7c7c7e;
    }



    .contact_info p {
        font-size: 2.5vw;
        width: 50%;
    }

    .info {
        /*border:5px solid red;*/
        font-size: 2.5vw;
    }

    .Descripcion{
        font-size: 2.5vw;
        width: 100%;
        text-align: justify;
        padding:10px !important;
    }

    .Descripcion button{
        background-color:transparent;
        border:none;
        text-decoration: none;
        outline:none;
        color:#0c84f7;
    }

    .icons_contact{
        /*border:5px solid yellow;*/
        display: flex;
        justify-content: center;
        margin-top:2vw;
    }

    .icons_contact section{
        /*border:5px solid red;*/
        margin-left:10%;
        color:#0c84f7;
    }

    .icons_contact i{
        font-size: 6vw;
        
    }

    .icons_contact p{
        font-size: 3vw;
    }

    .Principal_Kits{
       /* border:5px solid red;*/
    }

    .Principal_Kits p{
        /*border:5px solid white;*/
        font-size: 3.5vw !important;
        margin-top: 2.5vw;
    }

    .Principal_Kits i{
        /*border:5px solid yellow;*/
        font-size: 6vw;
        color:#25a7bf;
        margin-left: 2%;
        margin-top: 2vw;
        /*margin-top: 2%;*/
    }

   



}




@media (max-width: 450px) {

    body {
        color: white;
        border:15px solid red;
    }

    .Marco_Principal {
        width: 100%;
        height: 100%;
    }

    .card {
        height: 100%;
        box-shadow: 10px 10px 10px 10px black;
        background-color: #000000 !important;
        width: 85%;
        height: 100%;
        padding: 25px;
    }

    .Titulo {
        width: 100%;
        font-size: 5vw !important;
    }


    .Logo_Perfil {
       /* border:5px solid red;*/
        height: 100%;
    }

    .figure_img {
        position: absolute;
       /* border:5px solid yellow;*/
        width: 88% !important;
        z-index: 5;
        left:6%;
    }

    .segundo_logo {
        position: absolute;
        width: 20%;
        border-radius: 50%;
        height: 100px;
        z-index: 10;
        left: 68%;
        top: 58%;
    }

    .primer_logo {
        width: 70%;
        height: 300px;
        border-radius: 50%;
    }

    #color_1 {
        position: relative;
        background-color: #ff9f0a !important;
        height: 180px !important;
        z-index: 2;
    }

    #color_2 {
        position: relative;
        height: 130px !important;
        z-index: 2;
        margin-bottom:15px;
    }

    .Descripcion_Ubicacion {
        font-size: 4vw;
       /* border: 5px solid red;*/
        width: 100%;
        color:#7c7c7e;
    }

    .contact_info p {
        font-size: 3.5vw;
        width: 50%;
    }

    .info {
       /* border:5px solid red;*/
        font-size: 4vw;
    }

    .Descripcion{
        font-size: 4vw;
        width: 100%;
        text-align: justify;
        padding:10px !important;
    }

    .Descripcion button{
        background-color:transparent;
        border:none;
        text-decoration: none;
        outline:none;
        color:#0c84f7;
    }

    .icons_contact{
        /*border:5px solid yellow;*/
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top:2vw;
    }

    .icons_contact section{
        /*border:5px solid red;*/
        position:relative;
        right:4%;
        margin-left:20% !important;
        margin-top:10%;
        color:#0c84f7;
    }

    .icons_contact i{
        position:relative;
        /*border:5px solid red;*/
        right:5%;
        font-size: 11vw;
        
    }

    .icons_contact p{
        font-size: 3.5vw;
    }

    .Principal_Kits{
       /* border:5px solid red;*/
    }

    .Principal_Kits p{
       /* border:5px solid white;*/
        font-size: 5vw !important;
        margin-top: 2.5vw;
    }

    .Principal_Kits i{
        /*border:5px solid yellow;*/
        font-size: 10vw;
        color:#25a7bf;
        margin-left: 2%;
        margin-top: 2vw;
        /*margin-top: 2%;*/
    }

   




}